.card {
	word-wrap: break-word;
	height: 290px;
	background-color: #fafafa;
	border-radius: 20px;
}
.card-title {
	color: black;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #ffff00;
	padding: 3%;
	opacity: 0.5;
}

.card-img-top.faceOff {
	float:right;
}

.card-img-top.vs {
	margin-left: 25%;
}
.bet1 {
	float: left;
}

.bet2 {
	float: right;
}

.betamount {
	float:right;
}

.card-block {
	padding: 5%;
}
.table {
	border-spacing: 36px;
}